<!-- ========== FOOTER ========== -->
<footer class="gradient-x-overlay-sm-indigo overflow-hidden">
  <div class="container space-top-2">
    <!-- CTA -->
    <div class="row justify-content-lg-between align-items-lg-center text-center text-lg-left">
      <div class="col-lg-5 mb-3 mb-lg-0">
        <h3 class="font-weight-bold text-primary mb-1">Duke Montane</h3>
        <h4>The answers you need.</h4>
      </div>
      <div class="col-lg-5 text-lg-right">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center" href="#">
          <img class="brand" src="assets/img/{{ site.icon }}" alt="Logo" style="width: 7.5rem">
        </a>
        <!-- End Logo -->
      </div>
    </div>
    <!-- End CTA -->

    <hr class="my-6">

    <!-- Content -->
    <div class="row mb-5">
      <div class="col-sm-6 col-lg-3 order-lg-2 mb-7 mb-lg-0">
        <!-- address 1 -->
        <h5>Edmonton Office</h5>
        <address>#248-6005 Gateway Blvd.<br>
          Edmonton, AB T6H 2H3<br>
          toll free | <a href="tel:1-855-259-5865" class="tel">1-855-259-5865</a><br>
          fax | <a href="tel:1-403-982-1022" class="tel">403-982-1022</a>
        </address>
      </div>
      <div class="col-sm-6 col-lg-3 order-lg-2 mb-7 mb-lg-0">
        <!-- address 2 -->
        <h5>British Columbia Office</h5>
        <address>9865 Osprey Landing Drive<br>
          Wardner, BC V0B 2J0<br>
          phone |<a href="tel:1-250-421-4701" class="tel"> 250-421-4701</a>
          <br>toll free | <a href="tel:1-855-259-5865" class="tel">1-855-259-5865</a><br>
          fax | <a href="tel:1-403-982-1022" class="tel">403-982-1022</a>
        </address>
      </div>
      <div class="col-sm-6 col-lg-3 order-lg-2 mb-7 mb-lg-0">
        <!-- address 3 -->
        <h5>Southern AB/Calgary Office</h5>
        <address>33 Cimarron Springs Green<br>
          Okotoks, AB T1S 0M3<br>
          phone | <a href="tel:" class="tel">403-982-1021</a><br>
          toll free | <a href="tel:1-855-259-5865" class="tel">1-855-259-5865</a><br>
          fax | <a href="tel:1-403-982-1022" class="tel">403-982-1022</a>
        </address>
      </div>
      <div class="col-sm-6 col-lg-3 order-lg-3 mb-7 mb-lg-0 d-md-flex flex-column align-items-end">
        <!-- Nav Link -->
        <ul class="nav nav-sm nav-x-0 nav-y-0 flex-column">
          <li><h5>Other Links</h5></li>
          <li class="nav-item"><a class="nav-link" href="https://myadvocis.ca/advisor/jaymes-warren-duke">Find us on Advocis</a></li>
          <li class="nav-item"><a class="nav-link" href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
        <!-- End Nav Link -->
      </div>

    </div>
    <!-- copyright -->
    <div class="align-self-center align-self-lg-start">
      <p class="small">© 2020 {{ site.full_title }}</p>
    </div>
    <!-- end copyright -->
  </div>
  <!-- End Content -->

  <figure class="w-100 position-absolute bottom-0 z-index-n1 mr-n11 ml-n11" style="opacity: 0.015; left: 5rem;">
    <img class="img-fluid" src="assets/img/{{ site.icon }}">
  </figure>
  <!-- End SVG Background Shape -->
</footer>
<!-- ========== END FOOTER ========== -->
